
.toppart {
    background-image: url("./assets/Homepage_Masthead_Test_DESKTOP_3200x1320-v4c_6.16.20.jpg");
    background-size: 300vh;
    background-repeat: no-repeat;

}
 
.h1{
    line-height: 12px;
    width: 15%;
    font-size: 8pt;
    font-family: tahoma;
    position: absolute;
    top: 10px;
    right:10px;
}

.h2 {
    line-height: 12px;
    width: 40%;
    font-size: 8pt;
    font-family: tahoma;
    position: absolute;
    top: 10px;
    right:10px;
}
cd
 .pic1 {
     height: 100vh;
     width: 6vh;
     z-index: 1;     

 } 
.pic2ribbon {    
    padding-bottom: 0px 1px;
    height: 300px; 
    z-index:1;
    width:100%;
    height: 100%;
    background: linear-gradient(to right, #000066 0%, #0033cc 100%);



  


    





.pic2 {

    height:100vh;
    width:100vw;


}

.pic3{
    height: 100vh;
     width: 10vw;

}




.text{
margin-top: -30%;


}

