                    .container {
                        top: 10px;
                        text-align: right;
                        color: white;
                        background-color: black;
                    }
                    
                    .top {
                        background-image: url("./assets/Homepage_Masthead_Test_DESKTOP_3200x1320-v4c_6.16.20.jpg");
                        min-height: 660px;
                        color: white;
                    }
                    
                    .ribbon {
                        background: linear-gradient(318.68deg, #0F495C 0%, #0D3640 49.72%, #08141F 100%);
                        color: white;
                    }